@font-face {
    font-family: 'Ethno';
    src: url("Ethno.otf")
    	
}
  * {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  a {
    text-decoration: none;
  }

  body {
    color: white;
     min-height: 100vh;
     align-items: center;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     background-image: url("BG.jpg");
     backdrop-filter: blur(10px); 
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     background-repeat: no-repeat;
     overflow-x: hidden; 
 }

  header {
    width: 100%;
    height: 300px;
    background-color:rgb(32, 27, 32);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-content {
    box-sizing: border-box;
    margin-top: 90px;
    margin-bottom: 100px;
    color:rgb(255, 255, 255);
    text-align: center;
    font-family: 'Ethno';
  }
  .header-content h2 {
    font-size: 40px;
  }
  .line {
    width: 1000px;
    height: 4px;
    background: orangered;
    margin: 10px auto;
    border-radius: 5px;
  }
  .main-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
  }
  
  .main-content .sidebar {
    flex: 0 0 10%; 
    margin: 50px;
    margin-right: 10px;
    padding: 20px;
    box-sizing: border-box;
    align-content: center;
  }
  .main-content .main-section .h2 {
    flex: 0 0 65%; 
    background-color: none;
    padding: 20px;
    margin: 30px;
    text-align: justify;
    line-height: 30px;
    font-family: 'Ethno';
  }
  .main-content .main-section {
    flex: 0 0 65%; 
    background-color: none;
    padding: 30px;
    margin: 30px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
    border: 30px;
    box-sizing: border-box; 
  }

  .main-section2{
    font-family: 'Ethno';
    font-size: 17px;
  }
  .types {
    display: flex;
    justify-content: space-around;
    margin: 50px auto; 
    padding: 20px;
    box-sizing: border-box; 
    border-radius: 8px;
  }
  .different {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Ethno';
  }
  .types ul li {
    padding: 8px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    line-height: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#fff;
  }
  .continue{
    padding: 8px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    line-height: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#fff;
  }
  .box {
    width: 45%; 
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: rgb(32, 27, 32);
  }
  
  /*NavBar*/
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(149, 139, 149);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: #151212;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    background-color: rgb(109, 74, 109);
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #main {
    transition: margin-left 0.5s;
    padding: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5px;
  }

  .main-logo{
    text-align: center;
    font-family: 'Ethno';
    font-size: 20px;
    cursor: pointer;
  
  }
  

  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .paragraph {
    width: 95%;
    margin: 60px auto; 
    margin-bottom: 70px;
    background-color: none;
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box; 
    text-align: justify;
    text-indent: 25px;
    line-height: 30px;
  }
  .paragraph-2 {
    width: 95%;
    margin: 60px auto; 
    margin-bottom: 70px;
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box; 
    text-align: justify;
    text-indent: 25px;
    line-height: 30px;
  }

  .paragraph-2 h2{
    font-family: 'Ethno';
    font-size: 15px;
  }

  .paragraph-2 p{
    text-align: left;
  }

  .container {
    object-fit: contain;
    background-size: 2px;
    display: flex;
    justify-content: space-around;
    margin: 50px auto; 
    background-color: none;
    padding: 20px;
    box-sizing: border-box; 
    border-radius: 8px;
  }
  .box-2 {
    width: 100%; 
    height: 100%;
    object-fit: contain;
    aspect-ratio: 3/2;
    padding: 20px;
    box-sizing: border-box; 
    border-radius: 4px;
    overflow: hidden;
  }
  .box img {
    width: 100%; 
    height: auto; 
    border-radius: 4px;
  }
 

  .compare{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 50px auto; 
    background-color: darkslategray;
    padding: 20px;
    box-sizing: border-box; 
    overflow: hidden;
  }
  .image-compare {
    flex: 0 0 40%; 
    overflow: hidden; 
  }
  .image-compare h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    padding-left: 30px;
  }
  .image-compare img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  .table-compare {
    flex: 0 0 55%;
    padding-left: 20px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  th, td {
    border: 1px solid rgb(32, 27, 32);
    padding: 10px;
    text-align: center;
  }
  th {
    background-color: rgb(32, 27, 32);
    color: #fff;
  }