@font-face {
    font-family: 'Ethno';
    src: url("Ethno.otf")
    	
}

@media screen and (max-width: 768px) {
  .text{
      font-size: 10px;
  }
  
  .text1{
    font-size: 10px;
  }
  .text2{
    font-size: 15px;
    color: #2d232f;
  }

  .sentence{
    font-size: 30px;
  }

  #scroll{
    font-size: 40px;
  }

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
   color: white;
    min-height: 100vh;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("BG.jpg");
    backdrop-filter: blur(10px); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden; 
}

.nav-bar{

    width:100%;
    height: 55px;
    background:rgb(53, 48, 48);
    display: flex;
    text-align: center;
    justify-content: space-between;
}

h1.logo{
  color: orangered;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  border: 2px solid orangered;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-family: 'Ethno';

}

nav a.main{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 15px; 
  border-radius: 10px;
  transition: 0.5s ease;
  margin: 10px;
}

nav ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; 
}


nav li {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 15px; 
  border-radius: 10px;
  transition: 0.5s ease;
  margin: 10px;
}

nav li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 5px; 
  border-radius: 10px;
  transition: 0.5s ease;
  margin: 5px;
}

nav li a.main{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 15px; 
  border-radius: 20px;
  transition: 0.5s ease;
}


nav a.main:hover {
  background-color: rgb(248, 79, 18);
  color: black;
}

nav li:hover {
  background-color: rgb(248, 79, 18);
  color: black;
}

.closebtn, .menubtn{
  font-size: 20px;
  margin: 0px 10px;
  display: none;
}

.Neon{
       display: inline-flex;
       filter: brightness(200%);
}


.text{
   position: absolute;
   font-family: 'Ethno';
   font-stretch: expanded;
   left: 1.3em;
   top: 2.5em;
    text-align: center;
    color: orangered;
    white-space: nowrap;
    font-size: 4em;
    z-index: 9;
}

.text::before{
  content: 'Navigating the World of';
  position: absolute;
  mix-blend-mode: difference;
  filter: blur(3px);
}

.text1{
  position: absolute;
  font-family: 'Ethno';
  font-stretch: expanded;
  left: 2.5em;
  top: 3.5em;
   text-align: center;
   color: orangered;
   white-space: nowrap;
   font-size: 4em;
   z-index: 9;
}

.text1::before{
  content: 'Computer Software';
  position: absolute;
  mix-blend-mode: difference;
  filter: blur(3px);
}

.text2{
  padding-top: 3em;
  padding-bottom: 0;
   font-family: 'Ethno';
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: violet;
   text-align: center;
   color: rgb(243, 161, 131);
   white-space: nowrap;
   font-size: 4em;
   padding-bottom: 1em;
}

#explore{
  position: absolute;
  padding-right: 3em;
  top: 25em;
  left: 42em;
}


button{
  position: relative;
  background: white;
  width: 200px;
  height: 40px;
  right: 5%;
  margin-right: 130em;

}

a.btn {
  text-decoration: none;
  width: 200px;
  height: 40px;
  color: #000000;
  border-radius: 5px;
  padding-bottom: 5px;
  font-family: 'Ethno';
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn {
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgb(251, 122, 2) 100%);
    line-height: 40px;
    padding: 0;
    border: none;
  }
  .btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }

.btn:before,
.btn:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(251,75,2,1);
  box-shadow:
   -7px -7px 20px 0px rgba(255,255,255,.9),
   -4px -4px 5px 0px rgba(255,255,255,.9),
   7px 7px 20px 0px rgba(0,0,0,.2),
   4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn:before{
   height: 0%;
   width: 2px;
}
.btn:after {
  width: 0%;
  height: 2px;
}
.btn:hover{
  color: rgba(251,75,2,1);
  background: transparent;
}
.btn:hover:before {
  height: 100%;
}
.btn:hover:after {
  width: 100%;
}
.btn span:before,
.btn span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(251,75,2,1);
  box-shadow:
   -7px -7px 20px 0px rgba(255,255,255,.9),
   -4px -4px 5px 0px rgba(255,255,255,.9),
   7px 7px 20px 0px rgba(0,0,0,.2),
   4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn span:before {
  width: 2px;
  height: 0%;
}
.btn span:after {
  height: 2px;
  width: 0%;
}
.btn span:hover:before {
  height: 100%;
}
.btn span:hover:after {
  width: 100%;
}


footer {
    backface-visibility: hidden;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;   
    text-align: center;
    font: size 40px;
    color: rgb(124, 12, 12)
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: weight 500px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font: size 100px;
    color: white;
}

.slideshow-container{
  width: 40%;
  aspect-ratio: 3/2;
  object-fit: contain;
  padding-top: 8%;
  padding-bottom: 8%;

}

.column {
    float: left;
    padding: 10px;
    text-align: justify;
  }
  

  .column.side {
    width: 25%;
  }
  

  .column.middle {
    width: 50%;
  }
  

  .column.right {
    float: right;
    padding: 10px;
  }



  .h2 {
    position: relative;
    text-align: center;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    border: #2d232f;
  }



  #references {
    background-color: #2d232f;
    padding: 1em;
    padding-left: 20px;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ccc; 
    
  }

  footer#scroll{
    background: blueviolet;
  }

  .down{
    background:rgb(53, 48, 48);
    padding-right: 5em;
    position: absolute;
    text-align: justify;

  }

  .sentence{
    background: rgb(53, 48, 48);
    position: relative;
    text-align: justify;
    padding-left: -1em;

  }

  .Overview{
    position:relative;
    background: rgb(53, 48, 48);
    text-align: justify;
    font-size: 2em;
    padding: 1em;
    margin-left: 2em;
    color: orangered;
  }

  .container {
    display: inline-block;
    cursor: pointer;
  }

  .page {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;
height: auto;
width: 100px}


.slideshow-container {
  max-width: 850px;
  position: relative;
  margin: auto;
  border: 5px #2d232f;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 9px 0 0 9px;
}

.prev:hover, .next:hover {
  background-color: #1a0034;
  color: rgb(159, 116, 194);
}

h2 {
  margin-bottom: 20px;
}


#section1 {
  background-color: rgb(53, 48, 48);
  visibility: inherit;
}


#about-body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: transparent;
  background-image: url("BG.jpg");
  backdrop-filter: blur(10px); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.about-header {
  padding: 1rem;
  display: flex;
  align-items: center;
}

h3.card-title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  color: #000000;
}

.btn2 {
  padding: 0.5rem 1rem;
  padding-left: 5em;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.btn-transparent {
  background-color: transparent;
  color: white;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'Ethno';
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  width: 280px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: orangered;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  margin-top: 2rem;
  font-size: 1em;
  font-style: bold;
  font-family: 'Ethno';
}

.card p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 0;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: left;
}

.card-image {
  margin-left: 2em;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  text-align: center;
}

.card-description {
  margin-top: 1rem;
}